.formulario {

    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}
.errorBox {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 5px;
    border-radius: 4px;
  }
  
  .errorText {
    color: #000000;
    font-size: 12px;
  }

  form{
    border: 1px solid rgba(214, 213, 224, 0.616);
    padding: 50px; /* opcional, agrega un espacio alrededor del borde */
    width: 350px;
    height: 400px !important;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    background-color:#dbe3eea1;
    margin-top: 140px !important;
    color: #002044;
  }

.error {
    color: rgb(228, 12, 12);
    font-size: 0.89rem;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin-top: 1rem;
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #1100ff transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#forgetPwd{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    
}